<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="htmljs/jquery.min.js"></script>
    <script src="htmljs/materialize.min.js"></script>


    <script type="text/javascript">
        window.onload = function () {
            console.log("onload : ");
            //1 初始化ui


            //2 设置监听
            $('input[type=radio][name=radio_opt]').change(function () {
                console.log("change : value = " + $(this).val());
                if ($(this).val() === "1") {
                    $("#card_praise_count").show();
                    $("#card_message").hide();
                } else {
                    $("#card_message").show();
                    $("#card_praise_count").hide();
                }
            });
        };

        $(document).ready(function () {
            console.log("ready : ");

        });
    </script>
</head>

<body style="margin-left: 10px;margin-right: 10px">

<form class="card-panel" style="display: flex;justify-content: space-around">
    <p>
        <label>
            <input name="radio_opt" class="with-gap" type="radio" checked id="praise_timeline" value="1"/>
            <span>赞美</span>
        </label>
    </p>
    <p>
        <label>
            <input name="radio_opt" class="with-gap" type="radio" id="bless_message" value="2"/>
            <span>消息</span>
        </label>
    </p>
    <div class="col s6">
        <button class="btn waves-effect waves-light" type="button" name="action" onclick="startApplication()">
            启动脚本
        </button>
    </div>
</form>

<div class="card-panel" id="card_message">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message_content" class="materialize-textarea"></textarea>
                    <label for="message_content">文案内容</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card-panel" id="card_praise_count">
    <div class="row s20 ">
        <div class="input-field  inline col s4">
            <input id="praise_count" type="number" class="validate" content="测试...">
            <label for="praise_count">点赞个数</label>
        </div>
    </div>
</div>


</body>

</html>