<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="htmljs/jquery.min.js"></script>

    <title>black hole</title>
    <script type="text/javascript">
        window.onload = function () {
            console.log("onload : ");
            //1 初始化ui，使用jquery进行设置值
            $("#praise_timeline").attr("checked", "checked");
            $("#card_praise_count").show();
            $("#card_message").hide();

            //2 设置监听
            $('input[type=radio][name=radio_opt]').change(function () {
                console.log("change : value = " + $(this).val());
                if ($(this).val() === "0") {
                    $("#card_praise_count").show();
                    $("#card_message").hide();
                } else {
                    $("#card_message").show();
                    $("#card_praise_count").hide();
                }
            });
        };

        $(document).ready(function () {
            console.log("ready : ");
        });
    </script>
</head>
<body style="margin-left: 10px;margin-right: 10px">

<form class="card-panel" style="display: flex;justify-content: space-around">
    <label>
        <input name="radio_opt" class="with-gap" type="radio" id="praise_timeline" value="0"/>
        <span>点赞</span>
    </label>
    <label>
        <input name="radio_opt" class="with-gap" type="radio" id="bless_message" value="1"/>
        <span>祝福</span>
    </label>
    <button class="btn waves-effect waves-light" type="button" name="action" onclick="startApplication()">
        启动脚本
    </button>
</form>

<div class="card-panel" id="card_message">
    <div class="input-field col s12">
                    <textarea id="message_content" class="materialize-textarea" rows="1"
                              onscroll="this.rows++"></textarea>
        <label for="message_content">祝福内容</label>
    </div>
</div>

<div class="card-panel" id="card_praise_count">
    <div class="input-field  inline col s4">
        <input id="praise_count" type="number" class="validate">
        <label for="praise_count">点赞数量</label>
    </div>
</div>


<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>


</body>


<script>

    function startApplication() {
        var praiseCount = $("#praise_count").val();
        window.ec.saveConfig("praise_count", praiseCount);
        console.log("startApplication : 是点赞吗 = " + $("#praise_timeline").prop("checked"));
        window.ec.saveConfig("praise_timeline", $("#praise_timeline").prop("checked"));
        window.ec.saveConfig("message_content", $("#message_content").val());
        window.ec.start()
    }

    function makeExpandingArea(el) {
        var timer = null;
        //由于ie8有溢出堆栈问题，故调整了这里
        var setStyle = function (el, auto) {
            if (auto) el.style.height = 'auto';
            el.style.height = el.scrollHeight + 'px';
        }
        var delayedResize = function (el) {
            if (timer) {
                clearTimeout(timer);
                timer = null;
            }
            timer = setTimeout(function () {
                setStyle(el)
            }, 200);
        }
        if (el.addEventListener) {
            el.addEventListener('input', function () {
                setStyle(el, 1);
            }, false);
            setStyle(el)
        } else if (el.attachEvent) {
            el.attachEvent('onpropertychange', function () {
                setStyle(el)
            })
            setStyle(el)
        }
        if (window.VBArray && window.addEventListener) { //IE9
            el.attachEvent("onkeydown", function () {
                var key = window.event.keyCode;
                if (key == 8 || key == 46) delayedResize(el);

            });
            el.attachEvent("oncut", function () {
                delayedResize(el);
            }); //处理粘贴
        }
    }

    var textarea = document.getElementById('message_content');
    makeExpandingArea(textarea);

</script>

</html>