<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>H5 网页示例</title>
</head>
<body style="margin-left: 10px;margin-right: 10px">

<div class="card-panel">
    <div class="row s20 ">
        <div class="input-field  inline col s4">
            <input id="praise_count" type="number" class="validate">
            <label for="praise_count">点赞个数</label>
        </div>
    </div>
</div>


<div class="row">

    <div class="col s6">
        <button class="btn waves-effect waves-light " type="button" name="action" onclick="javascript:save()">保存参数
        </button>
    </div>
    <div class="col s6">
        <button class="btn waves-effect waves-light" type="button" name="action" onclick="javascript:window.ec.start()">
            启动脚本
        </button>
    </div>
</div>


<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>


</body>


<script>
    $(function () {

        //使用jquery进行设置值
        //取得参数并且进行设置
        var praise_count = window.ec.getConfig("praise_count");
        $("#praise_count").val(praise_count);

    });

    //保存参数的函数
    function save() {
        var praise_count = $("#praise_count").val();
        window.ec.saveConfig("praise_count", praise_count);
        window.ec.toast("保存成功");
    }

</script>


</html>